.counter {
    text-align: center;
    width: 70px;
    height: 80px;
    border-color: black;
    background-color: darkorange;
    border-width: 2px;
    border-style: solid;
    margin-left: 600px;
}

.buttonFive {
    color: red;
}

.button {
    color: black;
}